[submodule "Digital-Signage"]
	path = Digital-Signage
	url = git@github.com:PhiHub-UA/Digital-Signage.git
[submodule "Staff-Frontend"]
	path = Staff-Frontend
	url = git@github.com:PhiHub-UA/Staff-Frontend.git
[submodule "Staff-Backend"]
	path = Staff-Backend
	url = git@github.com:PhiHub-UA/Staff-Backend.git
[submodule "Patient-Frontend"]
	path = Patient-Frontend
	url = git@github.com:PhiHub-UA/Patient-Frontend.git
[submodule "Patient-Backend"]
	path = Patient-Backend
	url = git@github.com:PhiHub-UA/Patient-Backend.git
